<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{ dish.name | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ baseURL + dish.image }}"
          alt="{{ dish.name }}"
        />
        <mat-card-content>
          <p>{{ dish.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div [hidden]="dish">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div fxFlex="40" fxLayout="column">
    <div fxFlex *ngIf="dish" fxLayout="column" fxLayoutGap="10px">
      <h3>Comments</h3>
      <mat-list fxFlex>
        <mat-list-item *ngFor="let comment of dish.comments">
          <p matLine>{{ comment.comment }}</p>
          <p matLine>{{ comment.rating }} Star</p>
          <p matLine>
            -- {{ comment.author }}, {{ comment.date | date: "MMM. dd,yyyy" }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>

    <p>
      Author: {{ commentForm.value.author | json }} <br />
      Rating: {{ commentForm.value.rating | json }} <br />
      Comment: {{ commentForm.value.comment | json }} <br />

      Status: {{ commentForm.status | json }} <br />
    </p>
    <br />
    <form
      novalidate
      [formGroup]="commentForm"
      #fform="ngForm"
      (ngSubmit)="onSubmit()"
      fxFlex
      fxLayout="column"
    >
      <!-- Entering the Name -->
      <mat-form-field>
        <input
          matInput
          formControlName="author"
          placeholder="Name"
          type="text"
          required
        />
        <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
      </mat-form-field>

      <!-- Star Ratings -->
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="auto"
        formControlName="rating"
        min="1"
        max="5"
        value="{{ commentForm.value.rating }}"
      ></mat-slider>
      <!-- Entering the Comment -->
      <mat-form-field>
        <textarea
          matInput
          formControlName="comment"
          placeholder="Your Comment"
          rows="12"
          required
        ></textarea>
        <mat-error *ngIf="formErrors.comment">{{
          formErrors.comment
        }}</mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button
        type="submit"
        mat-button
        class="background-primary text-floral-white btn-siz"
        [disabled]="fform.form.invalid"
      >
        Submit
      </button>
    </form>
    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner>
    </div>

    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div>
  </div>
</div>
